body {
  background-color: pink;
  padding: 20px;
}

.comedians {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

ul {
  width: 200px;
  /* border: 1px solid; */
  margin: 10px;
  padding: 10px 30px;
  background-color: #bdb5b5;
}


img {
  max-width: 65px;
  max-height: 80px;
}
