body {
  background-color: pink;
  padding: 20px;
  font-style: cursive;
}

header {
  display: flex;
  justify-content: center;
}

p {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

h4 {
  display: flex;
  justify-content: center;
}

h3 {
  display: flex;
  justify-content: center;
}

.comedians {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

ul {
  width: 200px;
  /* border: 1px solid; */
  margin: 10px;
  padding: 10px 30px;
  background-color: #bdb5b5;
}


img {
  max-width: 65px;
  max-height: 80px;
}
