<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="/stylesheets/main.css" title="css" type="text/css" />
    <meta charset="utf-8">
    <title>Comedians</title>
  </head>
  <body>
    <div class="new_form">
      <h3 class="adding_new">Add A New Comedian!</h3>
      <form class="new-comedian" action="/comedians" method=POST>
        <input type="text" name="comedian[name]" placeholder="Comedian Name">
        <input type="text" name="comedian[hometown]" placeholder="Comedian Hometown">
        <input type="text" name="comedian[age]" placeholder="Comedian Age">
        <input type="submit" value="Submit">
      </form>
    </div>
  </body>
</html>
